<div class="container">
<div class="card">
    <div    
     class="top-banner" >
     <img src="../../assets/lockicon2.jpg" class="lock" >
      <!-- <i class="fa fa-lock" aria-hidden="true"></i></div> -->
    <div class="card-body">
        <div class="forgot-text">
            <h5 class="card-title" style="color: rgb(45, 85, 178); text-align: center; font-weight:400;">Forgot Your Password?</h5>
      <p class="card-text">To reset your password, please enter your email address. An email will be sent to this address 
        with verification Code. The link will expire in 20 minutes. </p>
        <div>
            <input type="text" placeholder="Enter Email"  class="form-control">
        </div>
        <div><br>
            <button type="button" class="btn btn-light">Cancel</button>&nbsp;
      <button type="button" class="btn btn-primary show" routerLink="/verification">
        Send Code</button>
    </div>
    </div>
</div>
  </div>
</div>